PORT=5000
MONGO_URI=mongodb+srv://studentProductivityDataBase:studentProductivityDataBase@studentproductivity.2hiw2bw.mongodb.net/?appName=studentProductivity
JWT_SECRET=fd793a52265e11794ce5fb129cbd047c83bbb930b534202cdd527e8df43eee5b
